.background-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  background: #ffffff;
}

.background-container #tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgb(53 67 74) 0%,
    rgb(151 156 126) 70%
  );
}

.main-profile-wrapper {
  z-index: 10;
  width: 60%;
}

.main-profile-wrapper {
  margin: auto;
  flex-direction: column;
}

.main-profile-wrapper,
.main-profile-wrapper__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-profile-wrapper__image-container {
  width: 200px;
  height: 200px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.main-profile-wrapper__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-profile-wrapper__body {
  text-align: center;
}

.main-profile-wrapper__body--name {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 0.1em;
  color: #ffffff;
}

.main-profile-wrapper__body--title {
  font-style: italic;
  font-weight: 500;
  color: #ffffff;
}

.main-profile-wrapper__body--description {
  color: #ffffff;
  font-weight: 500;
}

.ant-divider.main-profile-wrapper__divider {
  border-top: 2px solid #ffffff;
}

.main-profile-wrapper__footer--social-media {
  display: flex;
}

.main-profile-wrapper__footer--social-media svg {
  fill: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
}

@media only screen and (max-width: 576px) {
  .main-profile-wrapper {
    width: 80%;
  }
}
